
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kategori ID</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Spr</td>
        <td>Aktif</td>
    </tr>
</table>

